@import "./../utility/all";

.scroll {
	.row {
		.card {
		  height: auto !important;
		  padding: .9375rem;
		  &:last-of-type {
		    float: left !important;
		  }
		  a {
		    height: auto;
		    .container {
		      border-radius: 2px;
		      background: $color-white;
		      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
		      transition: all .2s ease-in-out 0s;
		      &:hover {
		    		box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.10);
		    	}
		      img {
		        height: 245px;
		        width: 100%;
		        object-fit: cover;
		        border-radius: 2px 2px 0 0;
		        &[src=""] {
		          content: url('https://s-media-cache-ak0.pinimg.com/originals/84/71/e2/8471e2efdd2d3164895748ee8673124d.jpg');
		        }
		      }
		    }
		    .details {
		      padding: .9375rem;
		      display: flex;
		      flex-direction: column;
		      justify-content: space-between;
					img {
						width: auto;
						height: auto;
					}
		      .top {
		        width: 100%;
		        .title {
		          color: $color-dark-grey;
		          @include truncate(100%);
		          &:empty {
		            &:before {
		              content: 'No title found';
		            }
		          }
		        }
		      }
		      .bottom {
		        width: 100%;
		        padding: 0;
		        padding-top: 6px;
		        .rating {
		          float: left;
		          height: 24px;
		          .dv-star-rating {
		            .dv-star-rating-star {
		              font-size: 1em;
		              margin-left: 0;
									line-height: 1.4;
		            }
		          }
		        }
		        .favourite {
		          float: right;
		          height: 100%;
							line-height: 1.5;
		        }
		      }
		    }
		  }
		}
	}
}

.scroll.list {
	.row {
		.card {
			width: 100% !important;
			max-width: 100% !important;
			min-width: 100% !important;
			padding: (.9375rem/3) .9375rem;
		  a {
		    .container {
					display: flex;
					img {
		        height: 125px;
		        width: 125px;
						// padding: 14px; // Remove this line to make thumbnail fill container.
		      }
					.details {
						width: calc(100% - 125px);
						display: flex;
						flex-direction: row;
						align-items: center;
						.top, .bottom {
							width: 50%;
						}
						.top {
							padding-right: 14px * 2;
						}
						img {
							width: auto;
							height: auto;
							padding: initial;
						}
					}
		    }
			}
		}
	}
}
