
//-- Top --------------

@mixin top($top) {
  margin-top: $top !important;
}
.chamber--top         { @include top(14px); }
.chamber-double--top  { @include top(14px*2); }
.chamber-triple--top  { @include top(14px*3); }
.chamber-half--top    { @include top(14px/2);}

//-- Bottom -----------

@mixin bottom($bottom) {
  margin-bottom: $bottom !important;
}
.chamber--bottom         { @include bottom(14px); }
.chamber-double--bottom  { @include bottom(14px*2); }
.chamber-triple--bottom  { @include bottom(14px*3); }
.chamber-half--bottom    { @include bottom(14px/2);}

//-- Left -------------

@mixin left($left) {
  margin-left: $left !important;
}
.chamber--left         { @include left(14px); }
.chamber-double--left  { @include left(14px*2); }
.chamber-triple--left  { @include left(14px*3); }
.chamber-half--left    { @include left(14px/2);}

//-- Right ------------

@mixin right($right) {
  margin-right: $right !important;
}
.chamber--right         { @include right(14px); }
.chamber-double--right  { @include right(14px*2); }
.chamber-triple--right  { @include right(14px*3); }
.chamber-half--right    { @include right(14px/2);}

//-- Sides ------------

@mixin sides($sides) {
  margin-left: $sides !important;
  margin-right: $sides !important;
}
.chamber--sides         { @include sides(14px); }
.chamber-none--sides    { @include sides(0px); }
.chamber-double--sides  { @include sides(14px*2); }
.chamber-triple--sides  { @include sides(14px*3); }
.chamber-half--sides    { @include sides(14px/2);}

//-- Ends -------------

@mixin ends($ends) {
  margin-top: $ends !important;
  margin-bottom: $ends !important;
}
.chamber--ends         { @include ends(14px); }
.chamber-double--ends  { @include ends(14px*2); }
.chamber-triple--ends  { @include ends(14px*3); }
.chamber-half--ends    { @include ends(14px/2);}
