$color-brand:        #4AD3B7;
$color-red:          #FF6060;

$color-black:        #000000;
$color-dark-grey:    #2A2D33;
$color-grey:         #BDC2CA;
$color-light-grey:   #EDEDED;
$color-white-tinted: #F7F7F7;
$color-white:        #FFFFFF;
