@mixin truncate($width) {
	width:         $width;
	white-space:   nowrap;
	overflow:      hidden;
	text-overflow: ellipsis;
}

//-- Push ----------------------------------------------------------------------
@mixin push--top($top) {
  padding-top: $top !important;
}
@mixin push--bottom($bottom) {
  padding-bottom: $bottom !important;
}
@mixin push--left($left) {
  padding-left: $left !important;
}
@mixin push--right($right) {
  padding-right: $right !important;
}
@mixin push--sides($sides) {
  padding-left: $sides !important;
  padding-right: $sides !important;
}
@mixin push--ends($ends) {
  padding-top: $ends !important;
  padding-bottom: $ends !important;
}

//-- Chamber -------------------------------------------------------------------
@mixin chamber--top($top) {
  margin-top: $top !important;
}
@mixin chamber--bottom($bottom) {
  margin-bottom: $bottom !important;
}
@mixin chamber--left($left) {
  margin-left: $left !important;
}
@mixin chamber--right($right) {
  margin-right: $right !important;
}
@mixin chamber--sides($sides) {
  margin-left: $sides !important;
  margin-right: $sides !important;
}
@mixin chamber--ends($ends) {
  margin-top: $ends !important;
  margin-bottom: $ends !important;
}
