//-- Foundation ----------------------------------------------------------------
@import "./../../node_modules/foundation-sites/scss/foundation";
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

//-- Utilities -----------------------------------------------------------------
@import "utility/all";

//-- Main styles ---------------------------------------------------------------
body {
  margin: 0;
  background: $color-white-tinted;
}

nav {
  .columns {
    background: $color-white;
    height: $navigation-height;
  }
}

.cta {
  background: $color-brand;
  color: $color-white;
  border-radius: 4px;
  padding: 14px 14px*2;
  @extend .text--center;
  &:hover {
    color: $color-white;
    background: darken($color-brand, 10%);
  }
  &.cta--wide {
    display: block;
    width: 100%;
  }
}

main {
  .columns {
    height: calc(100vh - #{$navigation-height});
  }
}

.logo {
  padding: 0;
  text-transform: uppercase;
  img {
    background: $color-brand;
    height: 100%;
    width: 100%;
    padding: 14px 0;
  }
  h1 {
    background: $color-brand;
    color: $color-white;
    height: 100%;
    font-size: 1.6em;
    padding: 14px 0;
    @extend .text--center;
  }
}

.main {
  padding: 0;
  position: relative;
  .bottom {
    padding: .9375rem 0;
  }
}
