@import "./../../node_modules/foundation-sites/dist/foundation.min.css";
@import "utility/all";

//-- Element sizes ---------------
$navigation-height: 70px;
$subnav-height: 65px;

body {
  margin: 0;
  background: $color-white-tinted;
}

$alignments: (
  top: top,
  left: left,
  right: right,
  bottom: bottom,
  center: center
);

.float--right {
  float: map-get($alignments, right);
}
.float--left {
  float: map-get($alignments, left);
}

.text--center {
  text-align: map-get($alignments, center);
}

nav {
  .columns {
    background: $color-white;
    height: $navigation-height;
  }
}

.cta {
  background: $color-brand;
  color: $color-white;
  border-radius: 4px;
  padding: 14px 14px*2;
  @extend .text--center;
  &:hover {
    color: $color-white;
    background: darken($color-brand, 10%);
  }
  &.cta--wide {
    display: block;
    width: 100%;
  }
}

main {
  .columns {
    height: calc(100vh - #{$navigation-height});
  }
}

.logo {
  padding: 0;
  text-transform: uppercase;
  img {
    background: $color-brand;
    height: 100%;
    width: 100%;
    padding: 14px 0;
  }
  h1 {
    background: $color-brand;
    color: $color-white;
    height: 100%;
    font-size: 1.6em;
    padding: 14px 0;
    @extend .text--center;
  }
}

.sidebar {
  position: relative;
  background: $color-dark-grey;
  color: $color-grey;
  footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - (.9375rem * 2));
    padding: 14px 0;
    font-size: .8em;
  }
}

.main {
  padding: 0;
  position: relative;
  .bottom {
    padding: .9375rem 0;
  }
}

.scroll {
  overflow-x: scroll;
  width: 100%;
  height: calc(100vh - (#{$navigation-height} + #{$subnav-height}));
}

.top {
  background: $color-grey;
  background: $color-white;
  padding: 14px 0;
  height: $subnav-height;
  .columns {
    height: auto;
    .layout {
      i {
        color: #aaa;
        margin-top: 10px;
      }
    }
  }
}

.search {
  height: calc(100% - (14px * 2));
  width: 100%;
  margin-top: 6px;
  text-indent: 14px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-image: url('./../img/search.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-color: $color-white;
  color: $color-dark-grey;
  padding-left: 0;
  &::placeholder {
    color: #AAA;
  }
  &:active, &:focus {
    outline: none;
  }
}

.dropdown-pane {
  width: 180px !important;
  right: 0;
  top: 70px !important;
  left: auto !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
  @extend .text--center;
  a {
    padding: 14px*1.25 0 !important;
  }
}

a.menu:hover {
  background: $color-light-grey;
}

.user {
  height: 70px;
  padding: 14px 0;
  margin-top: -7px;
  .avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: -5px;
    margin-left: 14px;
  }
}

.card {
  height: auto !important;
  padding: .9375rem;
  &:last-of-type {
    float: left !important;
  }
  a {
    height: auto;
    .container {
      border-radius: 2px;
      background: $color-white;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.10);
      transition: all .2s ease-in-out 0s;
      &:hover {
    		box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.10);
    	}
      img {
        height: 245px;
        width: 100%;
        object-fit: cover;
        border-radius: 2px 2px 0 0;
        &[src=""] {
          content: url('https://s-media-cache-ak0.pinimg.com/originals/84/71/e2/8471e2efdd2d3164895748ee8673124d.jpg');
        }
      }
    }
    .details {
      padding: .9375rem;
      display: flex;
      justify-content: space-between;
      .title {
        color: $color-dark-grey;
        @include truncate(90%);
        &:empty {
          &:before {
            content: 'No title found';
          }
        }
      }
      .favourite {
        padding-left: 10px;
        height: 100%;
        border-left: 1px solid $color-light-grey;
        .fa-heart-o {
          color: $color-dark-grey;
        }
        .fa-heart {
          color: $color-red;
        }
      }
    }
  }
}
